<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$Think.config.webinfo.sname}-后台管理系统</title>
	<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
	<link rel="stylesheet" href="/static/plugin/layui/css/global.css">
	<link rel="stylesheet" href="/static/plugin/iconadmin/iconfont.css">
	<script src="/static/plugin/jquery.js"></script>
	<script src="/static/plugin/layui/layui.js"></script>
	<link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
	<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
		<div class="layui-header header header-demo">
			<div class="layui-main">
				<div class="admin-login-box">
					<a class="logo" style="left: 0;" href="javascript:;">
						<img src="/static/images/logo_160_55.png"/>
					</a>
					<div class="admin-side-toggle" title="隐藏/显示菜单">
						<i class="iconadmin iconadmin-pullleft" aria-hidden="true"></i>
					</div>
					<div class="admin-side-full" title="全屏显示">
						<i class="iconadmin iconadmin-full" aria-hidden="true"></i>
					</div>
					<div class="admin-side-title" aria-hidden="true">{$Think.config.webinfo.name}</div>
				</div>
				<ul class="layui-nav admin-header-item">
					<li class="layui-nav-item" id="clearcache">
						<a href="javascript:;">清除缓存</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" class="admin-header-user">
							{if condition="$Think.session.manager.heard == ''"}
							<img src="/static/images/head200_200.jpg"/>
							{else/}
							<img src="{$Think.session.manager.heard}"/>
							{/if}
							<span>{$Think.session.manager.name}</span>
						</a>
						<dl class="layui-nav-child">
							<dd id="changeinfo">
								<a href="javascript:;"><i class="iconadmin iconadmin-my_light" aria-hidden="true"></i> 修改个人资料</a>
							</dd>
							<dd id="changepwd">
								<a href="javascript:;"><i class="iconadmin iconadmin-keyboard" aria-hidden="true"></i> 修改登录密码</a>
							</dd>
							<dd id="lock">
								<a href="javascript:;">
									<i class="iconadmin iconadmin-lock" aria-hidden="true" style="padding-right: 3px;padding-left: 1px;"></i> 锁屏 (Alt+L)
								</a>
							</dd>
							<dd id="logout">
								<a href="javascript:;"><i class="iconadmin iconadmin-exit" aria-hidden="true"></i> 退出系统</a>
							</dd>
						</dl>
					</li>
				</ul>
				<ul class="layui-nav admin-header-item-mobile">
					<li class="layui-nav-item">
						<a href="login.html"><i class="iconadmin iconadmin-exit" aria-hidden="true"></i> 退出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="layui-side layui-bg-black" id="admin-side">
			<div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
		</div>
		<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
			<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
				<ul class="layui-tab-title">
					<li class="layui-this">
						<i class="iconadmin iconadmin-home_light" aria-hidden="true"></i>
						<cite>欢迎主页</cite>
					</li>
				</ul>
				<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
					<div class="layui-tab-item layui-show">
						<iframe src="/admin/login/welcome"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-footer footer footer-demo" id="admin-footer">
			<div class="layui-main">
				<p>2017 &copy; sunyea.cn</p>
			</div>
		</div>
		<div class="site-tree-mobile layui-hide">
			<i class="layui-icon">&#xe602;</i>
		</div>
		<div class="site-mobile-shade"></div>
	</div>

	<!--锁屏模板 start-->
	<script type="text/template" id="lock-temp">
		<div class="admin-header-lock" id="lock-box">
			<div class="admin-header-lock-img">
				{if condition="$Think.session.manager.heard == ''"}
				<img src="/static/images/head200_200.jpg"/>
				{else/}
				<img src="{$Think.session.manager.heard}"/>
				{/if}
			</div>
			<div class="admin-header-lock-name" id="lockUserName">{$Think.session.manager.name}</div>
			<input type="text" class="admin-header-lock-input" value="输入密码解锁.." name="lockPwd" id="lockPwd" />
			<button type="submit" class="layui-btn layui-btn-small" id="unlock">解锁</button>
		</div>
	</script>
	<!--锁屏模板 end -->
	<script src="/static/js/admin/index.js"></script>
</body>
</html>