<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>changePassword</title>
	<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
	<script src="/static/plugin/jquery.js"></script>
	<script src="/static/plugin/layui/layui.js"></script>
</head>
<body style="padding:5px;">
<form action="" method="post" class="layui-form layui-form-pane">
	<div class="layui-form-item">
		<label class="layui-form-label">账号</label>
		<div class="layui-input-block">
			<input type="text" name="user_id" class="layui-input" value="{$Think.session.manager.uid}" disabled>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">旧密码</label>
		<div class="layui-input-block">
			<input type="password" name="oldpwd" class="layui-input" lay-verify="oldpwd">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码</label>
		<div class="layui-input-block">
			<input type="password" name="user_pwd" class="layui-input" lay-verify="newpwd">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码确认</label>
		<div class="layui-input-block">
			<input type="password" name="repassword" class="layui-input" lay-verify="newpwd2">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"> </label>
		<div class="layui-input-inline">
			<button class="layui-btn" lay-submit lay-filter="change_pwd">马上修改</button>
			<button type="button" class="layui-btn" id="btnclose">关闭窗口</button>
		</div>
	</div>
</form>
<script>
layui.use(['form','layer'], function(){
	var form = layui.form()
	layer = layui.layer;
	//验证
	form.verify({
		oldpwd:[/^[\S]{6,20}$/, '旧密码必须为6-20位字符']
		,newpwd:[/^[\S]{6,20}$/, '新密码必须为6-20位字符']
		,newpwd2:function(value){
			if(value != $(":input[name='user_pwd']").val()){
				return '两次输入的密码不一致';
			}
		}
	});
	//提交
	form.on('submit(change_pwd)', function(data){
		$.post('/admin/login/changepassword', data.field,function(rt, status){
			if (rt.code == '1') {
				layer.msg(rt.msg, {icon:1, time:1000});
				$(":input[name='oldpwd']").val('');
				$(":input[name='user_pwd']").val('');
				$(":input[name='repassword']").val('');
			}else{
				layer.msg(rt.msg, {icon:2, time:1000});
			}
		});
		return false;
	});

	//关闭
	$('#btnclose').click(function(){
		parent.layer.closeAll();
	})

});
</script>
</body>
</html>